<template>
  <div class="flex justify-center mt-10">
    <coinConversor :all-coins="allCoins.data"></coinConversor>
  </div>
</template>
<script>
import coinConversor from '~/components/coinConversor.vue'
export default {
  components: {
    coinConversor,
  },
  data() {
    return {
      allCoins: {},
    }
  },
  async fetch() {
    this.allCoins = await fetch(
      'https://api.coinlore.net/api/tickers/?start=0&limit=100'
    ).then((res) => res.json())
  },
}
</script>
