<template>
  <div>
    <div
      class="
        fixed
        z-20
        w-full
        hide-alert
        transform
        transition-all
        duration-200
        ease-out
      "
      :class="showError ? 'opacity-100' : 'opacity-0'"
    >
      <div class="bg-red-100 p-5 w-1/4 border-l-4 border-red-500 float-right">
        <div class="flex space-x-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="flex-none fill-current text-red-500 h-4 w-4"
          >
            <path
              d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.597 17.954l-4.591-4.55-4.555 4.596-1.405-1.405 4.547-4.592-4.593-4.552 1.405-1.405 4.588 4.543 4.545-4.589 1.416 1.403-4.546 4.587 4.592 4.548-1.403 1.416z"
            />
          </svg>
          <div class="flex-1 leading-tight text-sm text-red-900">
            Grafico indisponível.
          </div>
        </div>
      </div>
    </div>
    <div class="container mx-auto px-4 sm:px-8">
      <div class="py-5">
        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
          <div class="min-w-full rounded-lg overflow-hidden">
            <coinTable
              :content="dataCoin.data"
              @graphError="showAlert()"
            ></coinTable>
            <div class="w-full">
              <loadButton
                class="table m-auto my-5"
                :is-loading="$fetchState.pending"
                @clicked="loadMoreData()"
              ></loadButton>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import coinTable from '~/components/coinTable.vue'
import loadButton from '~/components/loadButton.vue'

export default {
  components: {
    coinTable,
    loadButton,
  },
  data() {
    return {
      limit: 12,
      maxContent: 100,
      showError: false,
      dataCoin: [],
    }
  },
  async fetch() {
    this.dataCoin = await fetch(
      `https://api.coinlore.net/api/tickers/?start=0&limit=${this.limit}`
    ).then((res) => res.json())
  },
  methods: {
    showAlert() {
      this.showError = true
      const ref = this
      setTimeout(function () {
        ref.showError = false
      }, 3000)
    },
    loadMoreData() {
      if (this.limit >= this.maxContent) return
      this.limit += 10
      this.$fetch()
    },
  },
}
</script>

<style>
.hide-alert {
}
</style>
