<template>
  <div>
    <navbar></navbar>
    <div class="divider"></div>
    <matrixBackground class="matrix"></matrixBackground>
    <Nuxt />
  </div>
</template>

<script>
import navbar from '~/components/layout/navbar.vue'
import matrixBackground from '~/components/layout/matrixBackground.vue'

export default {
  components: {
    navbar,
    matrixBackground,
  },
}
</script>

<style>
html {
  @apply bg-gray-dark;
}

.divider {
  @apply bg-gradient-to-r from-transparent via-white to-transparent h-1 w-full;
}
</style>
