<template>
  <div class="w-full h-96">
    <div class="grid grid-cols-3 gap-4">
      <div class="card">{{ coinName }}</div>
      <div class="card">
        <span>Máxima: &ensp;</span>
        <span>${{ formatedNumber(highCotation) }}</span>
      </div>
      <div class="card">
        <span>Mínima: &ensp;</span>
        <span>${{ formatedNumber(minCotation) }}</span>
      </div>
    </div>
    <chartjs-line
      ref="grafico"
      :data="data"
      :datalabel="coinName"
      :labels="labels"
      :fill="true"
      :option="options"
    />
  </div>
</template>

<script>
export default {
  props: {
    coinName: {
      type: String,
      required: true,
      default: '',
    },
  },
  data() {
    return {
      labels: [],
      data: [1, 2, 3, 4, 5, 5],
      request: [],
      options: {
        responsive: true,
        maintainAspectRatio: false,
        aspectRatio: 0.8,
        legend: {
          display: false,
        },
      },
    }
  },
  async fetch() {
    this.request = await fetch(
      `https://api.coingecko.com/api/v3/coins/${this.formattedCoinName}/market_chart?vs_currency=usd&days=30&interval=daily`
    ).then((res) => {
      if (res.ok) {
        return res.json()
      } else {
        this.$emit('graphError', true)
      }
    })
  },
  computed: {
    formattedCoinName() {
      return this.coinName.toLowerCase().replaceAll(' ', '-')
    },
    formattedData() {
      const result = []
      if (this.request.prices)
        this.request.prices.forEach((price) => {
          result.push(price[1])
        })
      return result
    },
    highCotation() {
      return this.data.length !== 0
        ? this.data.reduce(function (a, b) {
            return Math.max(a, b)
          })
        : 0
    },
    minCotation() {
      return this.data.length !== 0
        ? this.data.reduce(function (a, b) {
            return Math.min(a, b)
          })
        : 0
    },
  },
  watch: {
    '$fetchState.pending'() {
      this.data = this.formattedData
      this.$refs.grafico.chart.data.datasets[0].data = this.data
      this.$refs.grafico.renderChart(this.data, this.options)
    },
  },
  beforeMount() {
    this.labels = this.get_last_30_days()
  },
  methods: {
    getRandomInt() {
      return Math.floor(Math.random() * (50 - 5 + 1)) + 5
    },
    get_last_30_days() {
      const now = new Date()
      const options = { day: 'numeric', month: 'numeric', year: 'numeric' }
      let i = 30
      const dates = [now.toLocaleDateString('pt-BR', options)]
      let last = now.getDate()
      while (i--) {
        now.setDate(last - 1)
        dates.push(now.toLocaleDateString('pt-BR', options))
        last = now.getDate()
      }
      return dates.reverse()
    },
    formatedNumber(value) {
      return value
        .toString()
        .match(/^\d+(\.)?(0+)?(\d{1,2})?/g)
        .toString()
        .replace(/\B(?=(\d{3})+(?!\d)\.)/g, ',')
    },
  },
}
</script>

<style scoped>
.card {
  @apply text-white text-2xl font-extrabold rounded-lg flex justify-center items-center h-32;
}
</style>
