<template>
  <div class="table striped hovered main-first-cell">
    <div class="thead">
      <div class="tr">
        <div v-for="column in columns" :key="column" class="td">
          {{ column }}
        </div>
      </div>
    </div>
    <div class="bg-white h-1 w-full"></div>
    <div class="tbody">
      <div v-for="(coin, index) in coins" :key="index" class="row">
        <div class="tr" @click="showGraph(coin)">
          <div class="td">
            {{ coins[index].rank }}
          </div>
          <div class="td">
            {{ coins[index].name }}
          </div>
          <div class="td">
            ${{ Number(coins[index].price_usd).toLocaleString('en') }}
          </div>
          <div class="td">
            ${{ formatedNumber(coins[index].market_cap_usd) }}
          </div>
          <div class="td">
            {{ formatedNumber(coins[index].tsupply) }}
          </div>
          <div class="td">${{ formatedNumber(coins[index].volume24) }}</div>
          <div class="td">
            <div
              :class="
                coins[index].percent_change_24h >= 0
                  ? 'text-green-500'
                  : 'text-red-600'
              "
            >
              {{ coins[index].percent_change_24h }} %
            </div>
          </div>
        </div>
        <div>
          <div
            class="tr-graph"
            :class="coin.showGraph ? `h-${height_graph}` : `h-0`"
          >
            <div v-if="coin.showGraph" class="td">
              <coin-graph
                :coin-name="coin.name"
                @graphError="closeGraph()"
              ></coin-graph>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import coinGraph from '~/components/coinGraph.vue'

export default {
  components: {
    coinGraph,
  },
  props: {
    content: {
      type: Array,
      required: true,
      default: () => {
        return []
      },
    },
  },
  data() {
    return {
      height_graph: 114,
      coins: [],
      columns: [
        'Rank',
        'Nome',
        'Preço',
        'Market Cap',
        'Quantidade',
        'Volume (24 horas)',
        'Variação (24horas)',
      ],
    }
  },
  watch: {
    content() {
      this.content.forEach((coin) => {
        coin.showGraph = false
      })
      for (let i = this.coins.length; i < this.content.length; ++i) {
        this.coins.push(Object.assign({}, this.content[i]))
      }
    },
  },
  created() {
    this.content.forEach((coin) => {
      coin.showGraph = false
    })
    for (let i = this.coins.length; i < this.content.length; ++i) {
      this.coins.push(Object.assign({}, this.content[i]))
    }
  },
  methods: {
    closeGraph() {
      this.coins.forEach((coin) => {
        coin.showGraph = false
      })
      this.$emit('graphError', true)
    },
    showGraph(coin) {
      if (coin.showGraph) {
        coin.showGraph = false
        return
      }
      this.coins.forEach((coinArr) => {
        coinArr.showGraph = false
      })
      coin.showGraph = true
    },
    formatedNumber(value) {
      const abstValue = Math.floor(value).toString()
      const arr = abstValue.split('')
      if (arr.length > 9) {
        return (
          arr.slice(0, arr.length - 9).join('') +
          '.' +
          arr.slice(arr.length - 9, arr.length - (arr.length - 3)).join('') +
          'B'
        )
      } else if (arr.length > 7) {
        return (
          arr.slice(0, arr.length - 7).join('') +
          '.' +
          arr.slice(arr.length - 7, arr.length - (arr.length - 3)).join('') +
          'M'
        )
      } else if (arr.length > 4) {
        return (
          arr.slice(0, arr.length - 4).join('') +
          '.' +
          arr.slice(arr.length - 4, arr.length - (arr.length - 3)).join('') +
          'm'
        )
      }
      return value
    },
  },
}
</script>

<style scoped>
.table {
  @apply flex justify-between text-sm leading-normal select-none overflow-x-auto;
  flex-flow: column nowrap;
}
.table.main-first-cell .tr .td {
  @apply flex-grow-0 flex-none w-48 text-center justify-center;
}
.table.main-first-cell .tr .td:nth-child(2) {
  @apply flex-grow flex-row flex justify-center;
}

.table .thead {
  font-weight: 700;
}
.table .thead .tr .td {
  @apply text-white uppercase bg-gray-black;
}

/*
  Todas linhas da tabela
*/
.table .tbody .tr .td,
.tr-graph .td {
  @apply bg-gray-dark text-white;
}

/*
  Linhas pares da tabela
*/
.table.striped .tbody .row:nth-of-type(even) .tr .td {
  @apply bg-gray-black;
}

/*
  Table row hover
*/
.table.hovered .tbody .row:hover .tr .td {
  @apply bg-gray-600 cursor-pointer;
}
.table .tr,
.tr-graph {
  @apply flex w-full;
  flex-flow: row nowrap;
}
.table .tr .td {
  @apply flex flex-grow p-4 z-10;
  flex-flow: row nowrap;
  flex-basis: 0;
  word-break: break-word;
}

.tr-graph {
  @apply transition-height duration-500 ease-in-out bg-gray-dark;
}

.tr-graph .td {
  flex: 1 100%;
}
</style>
