<template>
  <div
    class="
      bg-gray-dark
      rounded
      border border-gray-300
      px-6
      py-12
      lg:w-2/3
      md:w-4/5
      w-11/12
      h-auto
      relative
    "
  >
    <div class="grid grid-cols-3 gap-4">
      <!-- Primeira Moeda -->
      <div class="md:col-span-1 col-span-3">
        <div class="relative inline-block w-full">
          <select
            v-model="first_coin.name"
            class="input"
            placeholder="Moeda"
            @change="
              setCoinValue(first_coin.id)
              setQuantityValue(first_coin.id)
            "
          >
            <option value="" disabled selected>Selecione sua moeda</option>
            <option v-for="(coin, index) in allCoins" :key="index">
              {{ coin.name }}
            </option>
          </select>
          <div class="arrow-down">
            <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
              <path
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
                fill-rule="evenodd"
              ></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="md:col-start-3 md:col-span-1 col-span-3">
        <div class="relative inline-block w-full">
          <input
            v-model="first_coin.qtd"
            class="input text-right"
            type="text"
            placeholder="0"
            @input="setQuantityValue(first_coin.id)"
          />
        </div>
      </div>
      <div class="col-span-3 d-table m-auto">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="90"
          height="90"
          viewBox="0 0 172 172"
          style="fill: #000000"
        >
          <g
            fill="none"
            fill-rule="nonzero"
            stroke="none"
            stroke-width="1"
            stroke-linecap="butt"
            stroke-linejoin="miter"
            stroke-miterlimit="10"
            stroke-dasharray=""
            stroke-dashoffset="0"
            font-family="none"
            font-weight="none"
            font-size="none"
            text-anchor="none"
            style="mix-blend-mode: normal"
          >
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g fill="#ffffff">
              <path
                d="M154.08333,118.25l-32.25,35.83333l-32.25,-35.83333h21.51075v-57.33333h21.5v57.33333zM132.61558,17.91667h-21.5v14.33333h21.5zM132.58333,39.41667h-21.5v14.33333h21.5zM17.91667,53.75h21.51075v57.33333h21.5v-57.33333h21.48925l-32.25,-35.83333zM39.44892,154.08333h21.5v-14.33333h-21.5zM60.91667,118.25h-21.5v14.33333h21.5z"
              ></path>
            </g>
          </g>
        </svg>
      </div>
      <!-- Segunda Moeda -->
      <div class="md:col-span-1 col-start-1 col-span-3">
        <div class="relative inline-block w-full">
          <select
            v-model="second_coin.name"
            class="input"
            placeholder="Moeda"
            @change="
              setCoinValue(second_coin.id)
              setQuantityValue(second_coin.id)
            "
          >
            <option value="" disabled selected>Selecione sua moeda</option>
            <option v-for="(coin, index) in allCoins" :key="index">
              {{ coin.name }}
            </option>
          </select>
          <div class="arrow-down">
            <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
              <path
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
                fill-rule="evenodd"
              ></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="md:col-start-3 md:col-span-1 col-span-3">
        <div class="relative inline-block w-full">
          <input
            v-model="second_coin.qtd"
            class="input text-right"
            type="text"
            placeholder="0"
            @input="setQuantityValue(second_coin.id)"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    allCoins: {
      type: Array,
      required: false,
      default: () => {
        return []
      },
    },
  },
  data() {
    return {
      first_coin: {
        id: 'first',
        name: '',
        value: 0,
        qtd: 0,
      },
      second_coin: {
        id: 'second',
        name: '',
        value: 0,
        qtd: 0,
      },
    }
  },
  methods: {
    setCoinValue(change) {
      if (this.first_coin.name && this.first_coin.id === change) {
        this.first_coin.value = this.allCoins.find(
          (coin) => coin.name === this.first_coin.name
        ).price_usd
      } else if (this.second_coin.name && this.second_coin.id === change) {
        this.second_coin.value = this.allCoins.find(
          (coin) => coin.name === this.second_coin.name
        ).price_usd
      }
    },
    setQuantityValue(change) {
      if (this.first_coin.name && this.second_coin.name) {
        const totFirstCoin = this.first_coin.qtd * this.first_coin.value
        const totSecondCoin = this.second_coin.qtd * this.second_coin.value
        if (change === 'first') {
          if (totFirstCoin === 0 && totSecondCoin === 0) {
            this.second_coin.qtd = 0
          } else {
            this.second_coin.qtd = (totFirstCoin / this.second_coin.value)
              .toString()
              .match(/^\d+(\.)?(0+)?(\d{1,2})?/g)
          }
        } else if (change === 'second') {
          if (totSecondCoin === 0 && totFirstCoin === 0) {
            this.first_coin.qtd = 0
          } else {
            console.log(totSecondCoin, this.first_coin.value)
            this.first_coin.qtd = (totSecondCoin / this.first_coin.value)
              .toString()
              .match(/^\d+(\.)?(0+)?(\d{1,2})?/g)
          }
        }
      }
    },
    formatedNumber(value) {
      const abstValue = Math.floor(value).toString()
      const arr = abstValue.split('')
      if (arr.length > 9) {
        return (
          arr.slice(0, arr.length - 9).join('') +
          '.' +
          arr.slice(arr.length - 9, arr.length - (arr.length - 3)).join('') +
          'B'
        )
      } else if (arr.length > 7) {
        return (
          arr.slice(0, arr.length - 7).join('') +
          '.' +
          arr.slice(arr.length - 7, arr.length - (arr.length - 3)).join('') +
          'M'
        )
      } else if (arr.length > 4) {
        return (
          arr.slice(0, arr.length - 4).join('') +
          '.' +
          arr.slice(arr.length - 4, arr.length - (arr.length - 3)).join('') +
          'm'
        )
      }
      return value
    },
  },
}
</script>

<style scoped>
.input {
  @apply w-full h-10 text-white pl-3 bg-gray-dark pr-6 text-base border border-gray-500 rounded-lg appearance-none;
}

.arrow-down {
  @apply absolute inset-y-1 right-0 flex items-center px-2 pointer-events-none;
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
