<template>
  <div class="inline-flex justify-center w-114">
    <span class="logo">EC</span>
    <img
      class="image"
      src="images/ethereum.png"
      alt="ethereum"
      width="80"
      height="80"
    />
    <span class="logo">MP</span>
  </div>
</template>

<style scoped>
.logo {
  @apply text-7xl text-white;
  font-family: 'Bungee Shade', cursive;
}

.image {
  @apply object-fill;
}
</style>
