<template>
  <canvas id="canvas" class="canvas"></canvas>
</template>

<script>
export default {
  data() {
    return {
      canvas: {},
    }
  },
  beforeMount() {
    window.addEventListener('resize', () => {
      this.setCanvasDimention()
    })
  },
  mounted() {
    this.canvas = document.getElementById('canvas')
    const ctx = this.canvas.getContext('2d')
    this.setCanvasDimention()

    const drops = []
    const fontSize = 14
    const colums = this.canvas.width / fontSize

    function randomInt(min, max) {
      return Math.floor(Math.random() * (max - min) + min)
    }

    for (let y = 0; y < colums; ++y) {
      drops[y] = this.canvas.height
    }

    function draw() {
      ctx.fillStyle = 'rgba(24, 23, 23, 0.25)'
      ctx.fillRect(0, 0, this.canvas.width, this.canvas.height)

      ctx.fillStyle = '#fff'
      ctx.font = fontSize + 'px'

      for (let i = 0; i < colums; ++i) {
        const text = String.fromCharCode(0x30a0 + randomInt(0, 96))
        ctx.fillText(text, i * fontSize, drops[i] * fontSize)
        if (drops[i] * fontSize > this.canvas.height && Math.random() > 0.99) {
          drops[i] = 0
        }
        drops[i]++
      }
    }
    setInterval(draw, 50)
  },
  methods: {
    setCanvasDimention() {
      if (this.canvas) {
        this.canvas.width = window.innerWidth * 0.9
        this.canvas.height = window.innerHeight * 0.8
      }
    },
  },
}
</script>

<style scoped>
.canvas {
  @apply absolute top-0 left-0 right-0 mx-auto;
  z-index: -999;
}
</style>
