<template>
  <nav class="navbar">
    <div class="md:flex items-center text-white mr-6 space-y-4">
      <logo></logo>
      <div
        class="
          w-full
          md:w-1/2
          text-sm
          ml-8
          pb-5
          flex
          justify-center
          lg:w-auto lg:space-x-10
        "
      >
        <NuxtLink to="/" class="item ml-0"> Cotação </NuxtLink>
        <NuxtLink to="/conversor" class="item"> Conversor </NuxtLink>
        <a
          target="_blank"
          href="https://telegram.me/LenoBregaBot"
          class="item border border-white hover:border-gray-600"
        >
          Telegram
        </a>
      </div>
    </div>
  </nav>
</template>

<script>
import logo from '~/components/layout/logo.vue'

export default {
  components: {
    logo,
  },
}
</script>

<style scoped>
.navbar {
  @apply flex justify-center px-4 z-50 bg-gray-dark;
}
.item {
  @apply inline-block  text-sm px-4 py-2 leading-none text-white lg:mt-4 lg:mt-0 rounded font-extrabold inline-block;
}
</style>
